* {
    font-family: 'Roboto Slab', serif;

    /* Basis Schriftgröße festlegen andere Schriftgrößen werden über rem Einheit definiert */
    font-size: 14px;
}

body{
    background-color: rgba(145, 206, 255, 0.4);
}

span {
    color: white;
}

@media (min-width: 950px) {
    .headNav {
        width: 100%;
    }
}

@media (min-width: 450px) and (max-width: 950px) {

}

.headNav{
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    background: rgb(179, 212, 255);
    z-index: -1;
}

.headNav>div {
    position: relative;
    padding: 20px;
    list-style: none;
    background: rgb(179, 212, 255);
    z-index: 0;
}

.registrierungButton{
    padding: 20px;
    -webkit-text-fill-color: white;
    position: fixed;
    top: 0px;
    right: 20px;
}

.loginButton{
    padding: 20px;
    -webkit-text-fill-color: white;
    position: fixed;
    top: 0px;
    right: 150px;
}

.underScoreHeadbar{
    width: 184px;
    height: 5px;
    background: rgb(129, 182, 255);
    position: fixed;
    top: 53px;
    left: 362px;
}

.underScoreHeadbarMovedToNeueListe{
    width: 227px;
    height: 5px;
    background: rgb(129, 182, 255);
    position: absolute;
    top: 53px;
    left: 515px;
    transition: 1s;
}

.underScoreHeadbarMovedToShops{
    width: 227px;
    height: 5px;
    background: rgb(129, 182, 255);
    position: absolute;
    top: 53px;
    left: 515px;
    transition: 1s;
}

.underScoreHeadbarMovedToKontakt{
    width: 227px;
    height: 5px;
    background: rgb(129, 182, 255);
    position: absolute;
    top: 53px;
    left: 515px;
    transition: 1s;
}

.underScoreHeadbarMovedToImpressum{
    width: 227px;
    height: 5px;
    background: rgb(129, 182, 255);
    position: absolute;
    top: 53px;
    left: 515px;
    transition: 1s;
}

@keyframes einfliegen {
    from{
        transform: translateY(10%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 100%;
    }
}

.projektInfos{
    animation-name: einfliegen;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    position: absolute;
    top: 80px;
    left: 300px;
    display: grid;
    grid-template-columns: 1000px;
    grid-template-rows: repeat(2, 70px 1fr);
    grid-template-areas:
        "h1"
        "problembeschreibung"
        "h2"
        "problemszenario"
        "h3"
        "loesung"
        "h4"
        "domaenenmodell"
    ;
    z-index: -2;
    margin-bottom: 30px;
}

.startseiteÜberschriften{
    color: rgb(170, 170, 170);
    font-size: 2rem;
    height: 23px;
}

h1{
    grid-area: h1;
}

h2{
    grid-area: h2;
}

h3{
    grid-area: h3;
}

h4{
    grid-area: h4;
}

.problembeschreibung{
    grid-area: problembeschreibung;
    color: rgb(170, 170, 170);
    width: 930px;
    line-height: 180%;
}

.problemszenario{
    grid-area: problemszenario;
    color: rgb(170, 170, 170);
    width: 930px;
    line-height: 180%;
}

.loesung{
    grid-area: loesung;
    color: rgb(170, 170, 170);
    width: 930px;
    line-height: 180%;
}

.domaenenmodell{
    grid-area: domaenenmodell;
    width: 930px;
}

.dropDownDivs{
    position: relative;
    padding: 40px 0 0 0;
    margin: 20px 0 0 0;
    background: rgb(179, 212, 255);
    color: white;
}

.shops{
    animation-name: einfliegen;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    position: absolute;
    top: 80px;
    left: 250px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-template-areas:
        "img img img"
        "img img img"
        "fussnote fussnote fussnote";
    z-index: -2;
}

.shops>img{
    width: 300px;
    height: 300px;
    padding: 20px;
    z-index: -2;
    margin-bottom: 30px;
}

.fussnote{
    grid-area: fussnote;
    position: absolute;
    bottom: -50px;
    color: rgb(170, 170, 170);
    margin-bottom: 20px;
}