@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

* {
    font-family: 'Roboto Slab', serif;

    /* Basis Schriftgröße festlegen andere Schriftgrößen werden über rem Einheit definiert */
    font-size: 14px;
}

body{
    background-color: white;
}

span {
    color: white;
}

@media (min-width: 950px) {
    .headNav {
        width: 100%;
    }
}

@media (min-width: 450px) and (max-width: 950px) {

}

.scrollUp {
    animation-name: einfliegen;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    position: fixed;
    right: 50px;
    bottom: 50px;
    border-style: solid;
    border-radius: 5px;
    border-color: #34495e;
    background-color: #34495e;
    padding: 20px;
}

.headNav{
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: center;
    background: #34495e;
    z-index: -1;
    box-shadow: 0 5px 20px 2px #2d3d4c;
}

.headNav>div {
    position: relative;
    padding: 20px;
    list-style: none;
    background: #34495e;
    z-index: 0;
}

.registrierungButton{
    padding: 20px;
    -webkit-text-fill-color: white;
    position: fixed;
    top: 0px;
    right: 58px;
}

.loginButton{
    padding: 20px;
    -webkit-text-fill-color: white;
    position: fixed;
    top: 0px;
    right: 188px;
}

.language{
    padding: 20px;
    -webkit-text-fill-color: white;
    position: fixed;
    top: 0px;
    right: 0px;
}

.loginBox, .registrierungBox{
    background: #34495e;
    position: fixed;
    right: 0px;
    top: 58px;
    width: 266px;
    transform: translateY(-100%);
    z-index: -2;
}

.loginform, .registrierungform{
    padding: 10px;
}

.loginform>input, .registrierungform>input, .inputField{
    position: relative;
    left: 0;
    padding: 10px;
    border-bottom: 2px solid rgb(109, 132, 159);
    margin: 10px;
    color: white;
}

.inputField>input {
    border: none;
    outline: none;
    background: none;
    padding: 6px;
    color: white;
}

.loginform>input[type="submit"], .registrierungform>input[type="submit"]{
    width: 227px;
    border: 2px solid rgb(109, 132, 159);
    background: #34495e;
}

.loginBox i{
    color: white;
}

label{
    color: white;
}

::placeholder{
    color: rgba(255, 255, 255, 0.5);
}

.underScoreHeadbar{
    width: 184px;
    height: 5px;
    background: rgb(109, 132, 159);
    position: fixed;
    top: 53px;
    left: 362px;
}

.underScoreHeadbarMovedToNeueListe{
    width: 227px;
    height: 5px;
    background: rgb(109, 132, 159);
    position: absolute;
    top: 53px;
    left: 515px;
    transition: 1s;
}

.underScoreHeadbarMovedToShops{
    width: 227px;
    height: 5px;
    background: rgb(109, 132, 159);
    position: absolute;
    top: 53px;
    left: 515px;
    transition: 1s;
}

.underScoreHeadbarMovedToKontakt{
    width: 227px;
    height: 5px;
    background: rgb(109, 132, 159);
    position: absolute;
    top: 53px;
    left: 515px;
    transition: 1s;
}

.underScoreHeadbarMovedToImpressum{
    width: 227px;
    height: 5px;
    background: rgb(109, 132, 159);
    position: absolute;
    top: 53px;
    left: 515px;
    transition: 1s;
}

@keyframes einfliegen {
    from{
        transform: translateY(10%);
        opacity: 0;
    }
    to{
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes ausfliegen {
    from{
        transform: translateY(0%);
        opacity: 100;
    }
    to{
        transform: translateY(10%);
        opacity: 0%;
    }
}

.projektInfos{
    animation-name: einfliegen;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    position: absolute;
    top: 80px;
    left: 300px;
    display: grid;
    grid-template-columns: 1000px;
    grid-template-rows: repeat(2, 70px 1fr);
    grid-template-areas:
        "h1"
        "problembeschreibung"
        "h2"
        "problemszenario"
        "h3"
        "loesung"
        "h4"
        "domaenenmodell"
    ;
    z-index: -2;
    margin-bottom: 30px;
}

.startseiteÜberschriften{
    color: #2d3d4c;
    font-size: 2rem;
    height: 23px;
}

h1{
    grid-area: h1;
}

h2{
    grid-area: h2;
}

h3{
    grid-area: h3;
}

h4{
    grid-area: h4;
}

.problembeschreibung{
    grid-area: problembeschreibung;
    color: #2d3d4c;
    width: 930px;
    line-height: 180%;
}

.problemszenario{
    grid-area: problemszenario;
    color: #2d3d4c;
    width: 930px;
    line-height: 180%;
}

.loesung{
    grid-area: loesung;
    color: #2d3d4c;
    width: 930px;
    line-height: 180%;
}

.domaenenmodell{
    grid-area: domaenenmodell;
    width: 930px;
}

.dropDownDivs{
    position: relative;
    padding: 40px 0 0 0;
    margin: 20px 0 0 0;
    background: #34495e;
    color: white;
}

.shops{
    animation-name: einfliegen;
    animation-duration: 1.5s;
    animation-fill-mode: backwards;
    position: absolute;
    top: 80px;
    left: 250px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: auto;
    grid-column-gap: 20px;
    grid-template-areas:
        "img img img"
        "img img img"
        "fussnote fussnote fussnote";
    z-index: -2;
}

.shops>img{
    width: 300px;
    height: 300px;
    padding: 20px;
    z-index: -2;
    margin-bottom: 30px;
}

.fussnote{
    grid-area: fussnote;
    position: absolute;
    bottom: -50px;
    color: #2d3d4c;
    margin-bottom: 20px;
}